@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Thunder";
    src: url("/fonts/thunder/thunder.woff2?v=3.18") format("woff2-variations");
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply bg-black-negative;
  }
}
