---
import classNames from "../utils/classNames";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About me">
  <section
    class={classNames(
      `container mx-auto pt-[69px]`,
      `max-w-6xl px-4 sm:px-8 pb-[20vw] md:pb-[10vw] 2xl:pb-[5vw]`
    )}
  >
    <h1>About me</h1>
  </section>
</Layout>
