---
import classNames from '../utils/classNames'
import { loadJson } from '../../scripts/lib/loadJson'
import type { MappedNotionProject } from '../../scripts/lib/parseOriginalNotionProjects'
import { PROJECTS_JSON_PATH } from '../../scripts/paths'
import Thumbnail from '../components/Thumbnail.astro'
import FancyHeadline from '../components/FancyHeadline.astro'
import Layout from '../layouts/Layout.astro'
import MoreAboutMeSVG from '../components/MoreAboutMeSVG.astro'

const projects = (
	await loadJson<MappedNotionProject[]>(PROJECTS_JSON_PATH)
).map((w) => {
	const classes = [
		`group-focus-visible:rotate-1 hover-hover:group-hover:rotate-1`,
		`group-focus-visible:rotate-0 hover-hover:group-hover:rotate-0`,
		`group-focus-visible:rotate-2 hover-hover:group-hover:rotate-2`,
		`group-focus-visible:-rotate-1 hover-hover:group-hover:-rotate-1`,
		`group-focus-visible:-rotate-2 hover-hover:group-hover:-rotate-2`,
	]
	const rotationClass = classes[Math.floor(Math.random() * classes.length)]
	return {
		...w,
		rotationClass,
	}
})
---

<Layout title="Welcome">
	<section
		class={classNames(
			`grid md:grid-cols-2 gap-[1px] bg-grayMed`,
			`text-fg pt-[69px]`,
		)}
	>
		<a
			href="/about"
			class={classNames(
				`bg-bg hover-hover:hover:bg-alt`,
				`outline-none overflow-hidden p-2`,
				`group relative`,
			)}
		>
			<div
				class={classNames([
					`rounded`,
					`group-focus-visible:ring-2 group-focus-visible:ring-fg`,
					`group-focus-visible:relative`,
					`group-focus-visible:overflow-hidden`,
				])}
			>
				<div
					class={classNames(
						`px-6 py-8 md:px-8 md:py-10 flex-wrap 2xl:flex-nowrap`,
						`flex gap-x-6 md:gap-x-8 gap-y-2 pr-0 md:pr-0`,
						`flex-col w-full h-full justify-center`,
					)}
				>
					<FancyHeadline title="Salut!" />
					<p class="text-2xl max-w-xs sm:max-w-sm text-balance">
						I'm a 29 years old swiss & chilean
						<span
							class="bg-alt px-2.5 py-1 rounded-full -ml-1 decoration-clone"
						>
							multimedia designer.
						</span>
					</p>
					<div
						class={classNames(
							`absolute -top-32 -right-10`,
							`transition-transform`,
							`hover-hover:group-hover:scale-110`,
							`xl:hover-hover:group-hover:scale-150`,
							`group-focus-visible:-top-[8.5rem]`,
							`group-focus-visible:-right-[3rem]`,
						)}
						inert
					>
						<MoreAboutMeSVG
							className={`text-bg hover-hover:group-hover:text-alt`}
						/>
					</div>
				</div>
			</div>
		</a>
		<div class="bg-bg relative p-2">
			<div
				class={classNames(
					`px-6 py-8 md:px-8 md:py-10 flex-wrap 2xl:flex-nowrap`,
					`flex gap-x-6 md:gap-x-8 gap-y-2 pr-0 md:pr-0`,
					`flex-col w-full h-full justify-center`,
				)}
			>
				<FancyHeadline title="Projects" />
				<p class="text-2xl max-w-sm text-balance">
					This is a selection of some of the
					<span class="bg-alt px-2.5 py-1 rounded-full -ml-1 decoration-clone">
						projects that I made.
					</span>
				</p>
			</div>
			<svg
				width="38"
				height="90"
				class="absolute top-2/3 right-6 2xl:right-16 z-10"
				><path
					d="M3.342 2.776c19.013 9.76 28.544 22.856 29.574 38.143.848 12.585-4.196 26.116-13.233 38.374l-5.272 6.219 9.33-3.462.696 1.875-12.908 4.79-1.666.619.336-1.746 2.61-13.519 1.963.38-1.886 9.771 5.23-6.167c8.736-11.855 13.617-24.947 12.805-37C29.94 26.505 20.847 14.01 2.429 4.555l.913-1.78Z"
					fill="#FF0040"
					fill-rule="nonzero"></path>
			</svg>
		</div>
	</section>
	<main
		class="grid sm:grid-cols-4 xl:grid-cols-6 pb-32 grid-flow-dense"
		aria-label="List of selected works"
	>
		{projects.map((work) => <Thumbnail {...work} />)}
	</main>
</Layout>
