---
import Thumbnail from "../components/Thumbnail.astro";
import Layout from "../layouts/Layout.astro";
import { getNotionProjects } from "../utils/getNotionProjects";
import { notion } from "../utils/notion";

const projects = (
  await getNotionProjects(import.meta.env.NOTION_PORTFOLIO_DATABASE_ID, notion)
).map((w) => {
  const classes = [
    `group-hover:rotate-1`,
    `group-hover:rotate-0`,
    `group-hover:rotate-2`,
    `group-hover:-rotate-1`,
    `group-hover:-rotate-2`,
  ];
  const rotationClass = classes[Math.floor(Math.random() * classes.length)];
  return {
    ...w,
    rotationClass,
  };
});
---

<Layout title="Welcome">
  <main
    class="grid sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 py-32"
    aria-label="List of selected works"
  >
    {projects.map((work) => <Thumbnail {...work} />)}
  </main>
</Layout>
