---
import { getCollection } from "astro:content";
import type { ExperimentType } from "../../content/config";
import Layout from "../../layouts/Layout.astro";
import StuffLayout from "../../layouts/StuffLayout.astro";

export async function getStaticPaths() {
  const experiments = await getCollection("experiments");
  return experiments.map((experiment) => {
    return {
      params: { slug: experiment.slug },
      props: {
        experiment,
      },
    };
  });
}

const { experiment } = Astro.props;

export type Props = {
  experiment: {
    id: string;
    slug: string;
    body: string;
    collection: "experiments";
    data: ExperimentType;
    render: () => Promise<void>;
  };
};
---

<Layout
  title={`Experiment: ${experiment.data.name} | Vogelino's Web Experiments`}
  slug={`experiments`}
>
  <StuffLayout>
    <Fragment slot="left-sidebar">
      {experiment.data.name}
    </Fragment>
    <Fragment>
      <div class="flex flex-col w-full"></div>
    </Fragment>
    <Fragment slot="right-sidebar">
      {experiment.data.name}
    </Fragment>
  </StuffLayout>
</Layout>
