---
import classNames from '../utils/classNames'
import TextContents from './TextContents.astro'
import FancyHeadline from '../components/FancyHeadline.astro'
import { AboutContent } from '../parsedContents/about'
---

<FancyHeadline
	title="About <br class='@md:hidden' />**me**"
	className={classNames(`pb-[2vmax] pt-[1.5vmax]`)}
/>
<section class="text-xl @md:text-2xl leading-normal" aria-label="description">
	<div class="max-w-2xl">
		<div
			aria-hidden="true"
			class="float-right w-1/2 @3xl:w-1/3 @4xl:w-[20%] aspect-[3/2] @3xl:aspect-square @4xl:aspect-[2/3] rounded-bl-[100%]"
		>
		</div>
		<TextContents Content={AboutContent} />
	</div>
</section>
