---
import { Image } from 'astro:assets'
import aboutImage from '../assets/images/about-me.png'
import classNames from '../utils/classNames'
---

<!-- 
	USING A GRID AREA OF ONE ROW AND COLUMNS AND ASSIGN THE AREA
	TO BOTH THE IMAGE AND THE SVG SO THEY STACK ON TOP OF EACHOTHER
-->
<div
	class={classNames(
		`absolute -right-8 -top-8 w-[440px] aspect-square origin-top-right`,
		`scale-50 @md:scale-[.6] @xl:scale-[.7] @2xl:scale-[.8]`,
		`grid`,
	)}
	style={{ gridTemplateAreas: `'img'` }}
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 440 440"
		fill="none"
		width="440px"
		height="440px"
		style={{ gridArea: `img` }}
		aria-hidden="true"
		class="relative z-10 mix-blend-screen"
	>
		<defs>
			<!-- GLASSES GLASS MASK FOR SWOOSH EFFECT -->
			<clipPath id="glasses-glasses">
				<path
					d="M158.329 175.229c2.668-12.453 13.935-15.714 25.795-15.714 14.232 0 30.836 6.226 30.836 19.569 0 13.342-8.006 29.946-27.575 30.835-19.568.89-31.725-22.237-29.056-34.69ZM238.383 182.642c.364-14.529 16.604-19.273 25.202-19.273 15.418 0 32.614 6.019 30.539 22.237-2.075 16.219-10.377 27.871-29.353 27.871s-26.753-16.307-26.388-30.835Z"
				></path>
			</clipPath>

			<!-- ANIMATED WIGGLY CIRCLE MASK -->
			<clipPath id="about-me-img-mask">
				<path
					fill="#000"
					d="M231.105 6.666c-4.704-8.502-16.926-8.502-21.63 0-4.19 7.573-14.667 8.605-20.254 1.995-6.272-7.42-18.259-5.036-21.214 4.22-2.633 8.245-12.706 11.3-19.476 5.907-7.599-6.054-18.891-1.377-19.983 8.277-.973 8.601-10.257 13.564-17.949 9.595-8.634-4.456-18.797 2.334-17.984 12.016.723 8.625-7.415 15.304-15.733 12.912-9.338-2.686-17.98 5.956-15.294 15.294C63.98 85.2 57.3 93.338 48.676 92.615c-9.682-.813-16.472 9.35-12.017 17.984 3.97 7.692-.993 16.976-9.593 17.949-9.655 1.092-14.332 12.384-8.278 19.983 5.394 6.77 2.338 16.843-5.908 19.476-9.255 2.955-11.64 14.942-4.22 21.214 6.611 5.587 5.58 16.064-1.994 20.254-8.502 4.704-8.502 16.926 0 21.63 7.573 4.19 8.605 14.666 1.995 20.254-7.42 6.272-5.036 18.259 4.22 21.214 8.245 2.632 11.3 12.706 5.907 19.476-6.054 7.599-1.377 18.89 8.277 19.983 8.601.973 13.564 10.257 9.595 17.949-4.456 8.634 2.334 18.796 12.016 17.984 8.625-.723 15.304 7.414 12.912 15.733-2.686 9.337 5.956 17.979 15.294 15.294 8.318-2.392 16.456 4.286 15.733 12.911-.813 9.682 9.35 16.472 17.984 12.017 7.692-3.969 16.976.993 17.949 9.594 1.092 9.654 12.384 14.331 19.983 8.277 6.77-5.393 16.843-2.337 19.476 5.908 2.955 9.256 14.942 11.64 21.214 4.22 5.587-6.611 16.064-5.579 20.254 1.995 4.704 8.501 16.926 8.501 21.63 0 4.19-7.574 14.666-8.606 20.254-1.995 6.272 7.42 18.259 5.036 21.214-4.22 2.632-8.245 12.706-11.301 19.476-5.908 7.599 6.054 18.89 1.377 19.983-8.277.973-8.601 10.257-13.563 17.949-9.594 8.634 4.455 18.796-2.335 17.984-12.017-.723-8.625 7.414-15.303 15.733-12.911 9.337 2.685 17.979-5.957 15.294-15.294-2.392-8.319 4.286-16.456 12.911-15.733 9.682.812 16.472-9.35 12.017-17.984-3.969-7.692.993-16.976 9.594-17.949 9.654-1.093 14.331-12.384 8.277-19.983-5.393-6.77-2.337-16.844 5.908-19.476 9.256-2.955 11.64-14.942 4.22-21.214-6.611-5.588-5.579-16.064 1.995-20.254 8.501-4.704 8.501-16.926 0-21.63-7.574-4.19-8.606-14.667-1.995-20.254 7.42-6.272 5.036-18.259-4.22-21.214-8.245-2.633-11.301-12.706-5.908-19.476 6.054-7.599 1.377-18.891-8.277-19.983-8.601-.973-13.563-10.257-9.594-17.949 4.455-8.634-2.335-18.797-12.017-17.984-8.625.723-15.303-7.415-12.911-15.733 2.685-9.338-5.957-17.98-15.294-15.294-8.319 2.392-16.456-4.287-15.733-12.912.812-9.682-9.35-16.472-17.984-12.017-7.692 3.97-16.976-.993-17.949-9.593-1.093-9.655-12.384-14.332-19.983-8.278-6.77 5.394-16.844 2.338-19.476-5.908-2.955-9.255-14.942-11.64-21.214-4.22-5.588 6.611-16.064 5.58-20.254-1.994Z"
					class={classNames(
						`transition origin-center animate-spin motion-reduce:animate-none`,
					)}
					style="animation-duration: 16000ms; animation-direction: reverse;"
				></path>
				<!-- CORNER PIECE SO THAT THE TOP RIGHT CORNER IS FILLED WITH THE IMAGE -->
				<rect x="220" y="0" width="220" height="220" fill="#000"></rect>
			</clipPath>
		</defs>
		<!-- GLASSES GLASS SHADE -->
		<path
			fill="#e30002"
			fill-opacity=".6"
			d="M158.329 175.229c2.668-12.453 13.935-15.714 25.795-15.714 14.232 0 30.836 6.226 30.836 19.569 0 13.342-8.006 29.946-27.575 30.835-19.568.89-31.725-22.237-29.056-34.69ZM238.383 182.642c.364-14.529 16.604-19.273 25.202-19.273 15.418 0 32.614 6.019 30.539 22.237-2.075 16.219-10.377 27.871-29.353 27.871s-26.753-16.307-26.388-30.835Z"
		></path>
		<!-- GLASS REFLECTIONS ANIMATED WITH A SWOOSH -->
		<g clip-path="url(#glasses-glasses)">
			<path
				fill="#ffef9b"
				fill-rule="evenodd"
				d="m279.003 148.841-34.69 70.863h16.603l35.283-70.863h-17.196Zm-8.302 0-34.69 70.863h3.854l35.283-70.863h-4.447Zm-71.752 0-34.69 70.863h16.604l35.283-70.863h-17.197Zm-8.302 0-34.69 70.863h3.854l35.283-70.863h-4.447Z"
				clip-rule="evenodd"
				class="animate-swoosh"
			>
			</path>
		</g>
	</svg>
	<!-- THE IMAGE OF ME -->
	<Image
		src={aboutImage}
		alt="A photo of me"
		class={classNames(`w-full aspect-square`)}
		style={{ clipPath: `url(#about-me-img-mask)`, gridArea: `img` }}
	/>
</div>
