---
import type { MappedCollaboratorPageType } from '../../scripts/lib/parseOriginalNotionProjects'
import classNames from '../utils/classNames'
import CollaboratorItemContent from './CollaboratorItemContent.astro'

export interface Props {
	collaborator: MappedCollaboratorPageType
}

const { collaborator } = Astro.props

const commonContainerClasses = `grid grid-cols-[45px,1fr] items-center`
---

<li
	class:list={[
		!collaborator.url ? commonContainerClasses : '',
		`bg-bg border-b border-grayLight`,
	]}
>
	{!collaborator.url && <CollaboratorItemContent collaborator={collaborator} />}
	{
		collaborator.url && (
			<a
				href={collaborator.url}
				title={`Site of ${collaborator.name}`}
				target="_blank"
				rel="noreferrer nofollow"
				class={classNames(
					commonContainerClasses,
					`group focus:ring-2 focus:ring-offset-2 focus:ring-fg`,
					`focus:outline-none relative focus:z-10`,
					`hover:bg-fg hover:text-white transition-colors`,
				)}
			>
				{<CollaboratorItemContent collaborator={collaborator} />}
			</a>
		)
	}
</li>
