---
import type { MappedCollaboratorPageType } from '../../scripts/lib/parseOriginalNotionProjects'
import classNames from '../utils/classNames'
import CollaboratorItemContent from './CollaboratorItemContent.astro'

export interface Props {
	collaborator: MappedCollaboratorPageType
}

const { collaborator } = Astro.props

const commonContainerClasses = `grid grid-cols-[45px,1fr] items-center`
---

<li
	class:list={[
		!collaborator.url ? commonContainerClasses : '',
		`bg-bg border-b border-grayLight`,
	]}
>
	{!collaborator.url && <CollaboratorItemContent collaborator={collaborator} />}
	{
		collaborator.url && (
			<a
				href={collaborator.url}
				title={`Site of ${collaborator.name}`}
				target="_blank"
				rel="noreferrer nofollow"
				class={classNames(
					commonContainerClasses,
					`group focus-visible:ring-2 focus-visible:ring-offset-2 `,
					`focus-visible:ring-fg focus-visible:rounded-sm`,
					`outline-none relative focus-visible:z-10`,
					`hover-hover:hover:bg-fg hover-hover:hover:text-white`,
					`transition-colors`,
				)}
			>
				{<CollaboratorItemContent collaborator={collaborator} />}
			</a>
		)
	}
</li>
