---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import classNames from '../utils/classNames'
import CollaboratorItem from './CollaboratorItem.astro'

export interface Props {
	collaborators: CollectionEntry<'projects'>['data']['collaborators']
	title: string
}

const props = Astro.props
const collaboratorsFromCollection = await getCollection('collaborators')
const allCollaborators = collaboratorsFromCollection.filter((collaborator) =>
	props.collaborators.find(({ slug }) => slug === collaborator.slug)
)
---

{
	!!allCollaborators.length && (
		<div
			class={classNames(
				`text-grayDark bg-bg relative flex flex-col`,
				`basis-full md:basis-1/2 border border-grayLight`,
				`-ml-px -mt-px`,
			)}
			aria-label={`Collaborators group: ${props.title}`}
		>
			<div class="min-h-[calc(100%-1rem)] w-[calc(100%-1rem)] ml-4 border-l border-grayLight">
				<h2 class="px-4 pt-4 pb-3.5 uppercase leading-4 tracking-wider">
					{props.title}
				</h2>
				<ul class="border-t border-grayMed" aria-label="Collaborators list">
					{allCollaborators.map((collaborator) => (
						<CollaboratorItem collaborator={collaborator} />
					))}
				</ul>
			</div>
			<div
				class={classNames(
					`col-span-3 relative bg-grayUltraLight -mt-px`,
					`h-4 pointer-events-none border-t border-grayLight`,
				)}
			>
				<svg
					width="16px"
					height="20px"
					viewBox="0 0 16 20"
					class="absolute bottom-0 left-0 text-bg"
					aria-hidden="true"
				>
					<polygon points="0,0 16,0 16,4 0,20" fill="currentColor" />
				</svg>
				<svg
					width="17px"
					height="17px"
					viewBox="0 0 17 17"
					class="absolute bottom-0 left-0 text-grayLight"
					aria-hidden="true"
				>
					<polyline points="17,0 0,17" stroke="currentColor" fill="none" />
				</svg>
			</div>
		</div>
	)
}
