---
import classNames from "../utils/classNames";

export interface Props {
  title: string;
  tag: string;
  className?: string;
}

const { title, className, tag } = Astro.props;

const Tag = tag || 'h1'

function highlight(text: string): string {
  return text.replace(
    /\*\*(.*?)\*\*/gm,
    `<span class="${classNames(
      `font-special font-normal inline-block`,
      `bg-alt px-5 pt-1 pb-2 rounded-full`,
    )}">$1</span>`
  );            
}

const htmlTitle = highlight(title)
---
<Tag
  class={classNames(
    className,
    `text-4xl md:text-5xl 2xl:text-8xl`,
    `leading-[1em] text-balance`,
    `uppercase font-normal inline-block`
  )}
>
  <span set:html={htmlTitle} />  
  <slot />
</Tag>

