---
import classNames from "../utils/classNames";
import Dropdown from "./Dropdown.astro";
import Logo from "./Logo.astro";
import ArrowUp from "./icons/ArrowUp.astro";
import Rss from "./icons/Rss.astro";

const year = String(new Date().getFullYear());

export type Props = {
  disabled?: boolean;
};

const { disabled = false } = Astro.props;
---

<footer
  class="pt-6 pb-5 border-t border-grayMed bg-bg relative z-0"
  aria-label="Main page footer"
>
  <section
    class={classNames(
      `px-6 flex justify-between gap-4 flex-wrap uppercase items-center`,
      `tracking-wide text-grayDark`
    )}
  >
    <div class="flex items-center flex-wrap gap-6">
      <span aria-label={`Copyright ${year}`}>{year}</span>
      <Dropdown
        id="rssList"
        triggerText={``}
        icon={Rss}
        positionVertical="up"
        positionHorizontal="left"
        options={[
          {
            text: `RSS with all contents`,
            href: `/rss.xml`,
          },
          {
            text: `RSS with pages only`,
            href: `/rss-pages-only.xml`,
          },
          {
            text: `RSS with projects only`,
            href: `/rss-projects-only.xml`,
          },
          {
            text: `RSS with cool sites only`,
            href: `/rss-cool-sites-only.xml`,
          },
        ]}
        disabled={disabled}
      />
    </div><span><Logo className="scale-75" /></span>

    <button
      id="back-to-top"
      aria-label="Scroll to top"
      tabindex={disabled ? "-1" : "0"}
      class={classNames(
        `p-1 bg-alt text-fg rounded-full`,
        `hover:bg-fg hover:text-alt transition-colors`,
        `focus-visible:ring-2 focus-visible:ring-fg outline-none`
      )}
    >
      <ArrowUp />
    </button>
  </section>
</footer>

<script>
  function setupScrollToTopBtn() {
    const backToTopBtn = document.getElementById("back-to-top");

    backToTopBtn?.addEventListener("click", (event) => {
      event.preventDefault();
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  }
  setupScrollToTopBtn();
  document.addEventListener("astro:page-load", setupScrollToTopBtn);
</script>
