---
import Logo from './Logo.astro'
import LogoV from './LogoV.astro'
import classNames from '../utils/classNames'

export interface Props {
	isMinimal?: boolean
}

const { isMinimal } = Astro.props
---

<a
	href="/"
	class={classNames(
		`logo`,
		`relative group h-10 -ml-4 py-2 rounded-full`,
		`focus-visible:ring-2 focus-visible:ring-fg focus:outline-none`,
	)}
	aria-label="Logo (Link to Homepage)"
>
	<Logo
		className={classNames(
			`logo-large`,
			isMinimal && `hidden sm:inline-block`,
			`absolute top-1.5 left-2`,
			`text-alt/0 hover-hover:group-hover:text-alt transition-colors`,
		)}
		filled
	/>
	<Logo
		className={classNames(
			`logo-large`,
			isMinimal && `hidden sm:inline-block`,
			`absolute top-1.5 left-2`,
		)}
	/>
	{
		isMinimal && (
			<>
				<LogoV
					className={classNames([
						`logo-small`,
						`sm:hidden inline-block absolute top-1.5 left-2`,
						`text-alt/0 hover-hover:group-hover:text-alt transition-colors`,
					])}
					filled
				/>
				<LogoV
					className={classNames([
						`logo-small`,
						`sm:hidden inline-block absolute top-1.5 left-2`,
					])}
				/>
			</>
		)
	}
</a>

<style is:global>
	.logo {
		width: 42px;
	}
	.logo-visible .logo {
		width: 205px;
	}
	.logo-visible .logo-small {
		display: none;
	}

	.logo-visible .logo-large {
		display: inline-block;
	}
</style>
