---
import classNames from '../utils/classNames'
import Logo from './Logo.astro'
import LogoV from './LogoV.astro'

export interface Props {
	isMinimal?: boolean
}

const { isMinimal, ...props } = Astro.props
---

<a
	href="/"
	class={classNames(
		`logo`,
		`relative group h-10 -ml-4 py-2 rounded-full`,
		`focus-visible:ring-2 focus-visible:ring-fg outline-none`,
	)}
	aria-label="Logo (Link to Homepage)"
	{...props}
>
	<Logo
		className={classNames(
			`logo-large`,
			isMinimal && `hidden sm:inline-block`,
			`absolute top-1.5 left-2`,
			`text-alt opacity-0 hover-hover:group-hover:opacity-100 transition-opacity`,
			`motion-reduce:transition-none`,
		)}
		filled
	/>
	<Logo
		className={classNames(
			`logo-large`,
			isMinimal && `hidden sm:inline-block`,
			`absolute top-1.5 left-2`,
		)}
	/>
	{
		isMinimal && (
			<>
				<LogoV
					className={classNames([
						`logo-small`,
						`sm:hidden inline-block absolute top-1.5 left-2`,
						`text-alt opacity-0 hover-hover:group-hover:opacity-100 transition-colors`,
						`motion-reduce:transition-none`,
					])}
					filled
				/>
				<LogoV
					className={classNames([
						`logo-small`,
						`sm:hidden inline-block absolute top-1.5 left-2`,
					])}
				/>
			</>
		)
	}
</a>

<style is:global>
	header[aria-label='Main header'] .logo {
		@apply w-[42px] md:w-[205px];
	}
	header[aria-label='Main header'].logo-visible .logo {
		width: 205px;
	}
	header[aria-label='Main header'].logo-visible .logo-small {
		display: none;
	}
	header[aria-label='Main header'].logo-visible .logo-large {
		display: inline-block;
	}
</style>
