---
import type { BlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import * as astroComponents from "astro-imagetools/components";
import NotionFormattedRichText from "./NotionFormattedRichText.astro"

const { Img } = astroComponents;

export interface Props {
  blocks: BlockObjectResponse[];
}

const { blocks } = Astro.props;
---

{
  blocks.map((block) => {
    if (block.type === "paragraph") {
      return (
        <p class="mb-5 hyphens-auto">
          <NotionFormattedRichText richText={block.paragraph.rich_text} />
        </p>
      );
    }
    if (block.type === "image") {
      const image = block.image as {
        caption: {
          text: {
            content: string;
          };
        }[];
      };
      return (
        <div class="my-8">
          <Img
            src={`/images/content/${block.id}.webp`}
            alt={image.caption.map((c) => c.text.content).join(" ")}
            width={725}
            layout="fullWidth"
            attributes={{
              img: {
                class: "border border-grayMed",
              },
            }}
          />
          {image.caption.length > 0 && (
            <small class="text-grayDark text-sm">
              {image.caption.map((c) => c.text.content).join(" ")}
            </small>
          )}
        </div>
      );
    }
  })
}
