---
import classNames from "../utils/classNames";

export interface Props {
  ariaHidden?: boolean;
  projectTitleLine1: string;
  projectTitleLine2: string;
  className?: React.HTMLAttributes<HTMLElement>["className"];
}

const { ariaHidden, projectTitleLine1, projectTitleLine2, className } =
  Astro.props;
---

<h2
  aria-hidden={ariaHidden}
  class={classNames(
    className,
    "font-headline text-8xl uppercase font-extrabold leading-[.71em]",
    "absolute top-2 left-0 z-10"
  )}
>
  {
    [projectTitleLine1, projectTitleLine2].map((line) => (
      <span class="flex flex-nowrap overflow-hidden w-full h-[2ch] pt-[0.2ch] -mt-[0.2ch]">
        {line}
      </span>
    ))
  }
</h2>
