---
import * as astroComponents from 'astro-imagetools/components'
import classNames from '../utils/classNames'

const { Img } = astroComponents

export interface Props {
	projectName: string
	imageUrl: string
}

const { projectName, imageUrl } = Astro.props
---

<li
	class:list={[
		`splide__slide`,
		`w-screen h-[calc(100svh-188x)] px-6 !mt-24 !mb-20`,
		`flex items-center justify-center`,
	]}
>
	<a
		class={classNames(
			`powerswipe-link`,
			`rounded overflow-hidden shadow-lg`,
			`shadow-grayMed dark:shadow-grayUltraLight`,
			`contrast-more:shadow-bg`,
			`ring-1 ring-black/5 max-w-full max-h-full`,
			`outline-none focus-visible:ring-2 focus-visible:ring-fg`,
			`focus-visible:ring-offset-4 focus-visible:ring-offset-grayUltraLight`,
			`hover-hover:hover:cursor-zoom-in`,
		)}
		href={`/${imageUrl.replace('public/', '')}`}
	>
		<Img
			src={`/${imageUrl}`}
			alt={`Screenshot of the project ${projectName}`}
			layout="fullWidth"
			attributes={{ img: { class: 'splide__img' } }}
			loading="eager"
		/>
	</a>
</li>
