---
import type { JSX } from 'astro/jsx-runtime'
import type { HTMLAttributes } from 'astro/types'
import classNames from '../utils/classNames'

export interface Props extends HTMLAttributes<'button'> {
	url?: string
	class?: string
	icon?: JSX.Element
	variant?: 'primary' | 'secondary'
}

const { url, class: className, icon: Icon, variant = 'primary', ...rest } = Astro.props
---

{
	url && (
		<a
			href={url}
			target="_blank"
			class={classNames([
				`font-special antialiased w-fit`,
				`top-0 rounded-full`,
				`transition motion-reduce:transition-none`,
				`flex items-center gap-1 md:gap-2`,
				`px-2 pb-0.5 md:px-4 md:pb-1 text-xl md:text-2xl`,
				`outline-none focus-visible:ring-2`,
				`focus-visible:ring-fg focus-visible:ring-offset-2`,
				`focus-visible:ring-offset-bg`,
				`hover-hover:hover:scale-110`,
				variant === 'primary' && [
					`bg-fg text-alt`,
					`hover-hover:hover:bg-alt hover-hover:hover:text-fg`,
				],
				variant === 'secondary' && [
					`bg-alt text-fg`,
					`hover-hover:hover:bg-fg hover-hover:hover:text-alt`,
				],
				className,
			])}
			{...rest}
		>
			<span>
				<slot />
			</span>{' '}
			{Icon && <Icon className="mt-1" />}
		</a>
	)
}
