---
import classNames from '../utils/classNames'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import OverlayTexture from '../components/OverlayTexture.astro'
import GlobalStyles from '../components/GlobalStyles.astro'

export interface Props {
	title: string
	withHeaderBg?: boolean
}

const { title, withHeaderBg = true } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e30002" />
		<meta name="msapplication-TileColor" content="#ffef9b" />
		<meta name="theme-color" content="#ffffff" />

		<link rel="sitemap" href="/sitemap-index.xml" />

		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Interface design and development portfolio of Lucas Vogel"
		/>
		<title>{[title, 'Vogelino'].join(' – ')}</title>

		<script is:inline>
			function loadUserPrefTheme() {
				const userPref = localStorage.getItem('theme')
				const userPreference =
					userPref ||
					(matchMedia('(prefers-color-scheme: dark)').matches
						? 'dark'
						: 'light')
				document.documentElement.dataset.appliedMode = userPreference
				userPref && localStorage.setItem('theme', userPreference)
			}
			loadUserPrefTheme()
		</script>
	</head>
	<body
		class={classNames(
			`bg-bg text-fg w-screen overflow-x-hidden mx-auto antialiased relative`,
			`max-w-[1440px] min-[1440px]:border-x min-[1440px]:border-grayMed`,
		)}
	>
		<Header withBg={withHeaderBg} />
		<slot />
		<Footer />
		<OverlayTexture />
		<GlobalStyles />
		<script>
			import { inject } from '@vercel/analytics'
			inject()
		</script>
	</body>
</html>
