---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{[title, "Vogelino"].join(" – ")}</title>
  </head>
  <body class="w-screen overflow-x-hidden">
    <header
      aria-label="Main header"
      class="fixed top-0 left-0 w-screen z-40 text-bg mix-blend-exclusion"
    >
      <div class="container mx-auto px-8 py-4 flex">
        <a
          href="/"
          class="uppercase text-3xl tracking-widest font-headline"
          aria-label="Logo (Link to Homepage)"
        >
          Vogelino
        </a>
      </div>
    </header>
    <slot />
    <div
      style={{
        backgroundImage: `url(/images/textures/film-grain.gif)`,
        backgroundSize: "400px auto",
      }}
      aria-initial="true"
      class="fixed inset-0 bg-cover opacity-5 z-50 pointer-events-none mix-blend-exclusion"
    >
    </div>
    <style>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        @font-face {
          font-family: "FUNGIS";
          src: url("/fonts/fungis/fungis-regular.eot");
          src: url("/fonts/fungis/fungis-regular.eot?#iefix")
              format("embedded-opentype"),
            url("/fonts/fungis/fungis-regular.woff") format("woff"),
            url("/fonts/fungis/fungis-regular.ttf") format("truetype");
          font-style: normal;
          font-weight: normal;
          text-rendering: optimizeLegibility;
        }

        @font-face {
          font-family: "FUNGIS";
          src: url("/fonts/fungis/fungis-bold.eot");
          src: url("/fonts/fungis/fungis-bold.eot?#iefix")
              format("embedded-opentype"),
            url("/fonts/fungis/fungis-bold.woff") format("woff"),
            url("/fonts/fungis/fungis-bold.ttf") format("truetype");
          font-style: normal;
          font-weight: bold;
          text-rendering: optimizeLegibility;
        }

        @font-face {
          font-family: "FUNGIS";
          src: url("/fonts/fungis/fungis-heavy.eot");
          src: url("/fonts/fungis/fungis-heavy.eot?#iefix")
              format("embedded-opentype"),
            url("/fonts/fungis/fungis-heavy.woff") format("woff"),
            url("/fonts/fungis/fungis-heavy.ttf") format("truetype");
          font-style: normal;
          font-weight: 900;
          text-rendering: optimizeLegibility;
        }

        body {
          @apply bg-bg text-fg;
        }
      }
    </style>
  </body>
</html>
