---
import StuffHeader from '../components/StuffHeader.astro'
import classNames from '../utils/classNames'

export type Props = {
	showLeftSidebar?: boolean
	showRightSidebar?: boolean
}

const { showLeftSidebar = false, showRightSidebar = false } = Astro.props

const showOnlyLeftSidebar = showLeftSidebar && !showRightSidebar
const showOnlyRightSidebar = !showLeftSidebar && showRightSidebar
const showBothSidebars = showLeftSidebar && showRightSidebar
---

<StuffHeader />
<main
  id="main-container"
  data-left-sidebar-open="true"
  data-right-sidebar-open="true"
  class={classNames(
    "grid grid-cols-1",
    "transition-all ease-in-out-extreme duration-500",
    showBothSidebars &&
      "grid-cols-[var(--left-sidebar-width,4rem),1fr,var(--right-sidebar-width,4rem)]",
    showOnlyLeftSidebar && "grid-cols-[var(--left-sidebar-width,4rem),1fr]",
    showOnlyRightSidebar && "grid-cols-[1fr,var(--right-sidebar-width,4rem)]"
  )}
  style="grid-template-areas: 'left-sidebar main right-sidebar';"
>
  <slot />
</main>
