---
import StuffHeader from "../components/StuffHeader.astro";
import StuffSidebar from "../components/StuffSidebar";
import classNames from "../utils/classNames";

const showLeftSidebar = Astro.slots.has("left-sidebar");
const showRightSidebar = Astro.slots.has("right-sidebar");
const showOnlyLeftSidebar = showLeftSidebar && !showRightSidebar;
const showOnlyRightSidebar = !showLeftSidebar && showRightSidebar;
const showBothSidebars = showLeftSidebar && showRightSidebar;
---

<StuffHeader />
<main
  id="main-container"
  data-left-sidebar-open="true"
  data-right-sidebar-open="true"
  class={classNames(
    "grid grid-cols-1",
    "transition-all ease-in-out-extreme duration-500",
    showBothSidebars &&
      "grid-cols-[var(--left-sidebar-width,4rem),1fr,var(--right-sidebar-width,4rem)]",
    showOnlyLeftSidebar && "grid-cols-[var(--left-sidebar-width,4rem),1fr]",
    showOnlyRightSidebar && "grid-cols-[1fr,var(--right-sidebar-width,4rem)]"
  )}
  style="grid-template-areas: 'left-sidebar main right-sidebar';"
>
  {
    Astro.slots.has("left-sidebar") && (
      <StuffSidebar
        client:load
        style="grid-area: left-sidebar;"
        position="left"
      >
        <slot name="left-sidebar" />
      </StuffSidebar>
    )
  }
  <slot />
  {
    Astro.slots.has("right-sidebar") && (
      <StuffSidebar
        client:load
        style="grid-area: right-sidebar;"
        position="right"
      >
        <slot name="right-sidebar" />
      </StuffSidebar>
    )
  }
</main>
