name: Update remote content to local files and commit
on:
  schedule:
    - cron: "30 21 * * *"
  repository_dispatch:
    types: [update-inspirations]
jobs:
  Fetch-Notion-Inspirations:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: npm install

      - name: Fetch Notion Inspirations
        env:
          NOTION_INSPIRATION_DATABASE_ID: ${{ secrets.NOTION_INSPIRATION_DATABASE_ID }}
          NOTION_API_SECRET: ${{ secrets.NOTION_API_SECRET }}
        run: npm run downloadInspirations

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "chore(content): Update inspirations from Notion"
          add: "src"
